.landing-page_video_container {
    position: relative;
    width: 100vw;
    background: black;
    overflow: hidden;

}

#landing-page_video {
    position: relative;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    opacity: 0.6;
}

   
.content {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .title{
    color:white;

    .welcome-title {
        font-size: 7em;
        margin-bottom: 0px !important;
    }
    .welcome-text {
        font-size: 2em;
    }
  }