<div class="landing-page_video_container">    
    <video autoplay muted loop id="landing-page_video">
        <source src="../../../assets/images/landing-page-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="overlay-container">
    </div>
    <div class="content" fxLayout="row" fxLayoutAlign="center center">
      <div class="title">
        <h1 class="welcome-title">Welcome to Fit Days</h1>
        <p class="welcome-text">The new way to plan your workout</p>
        <ng-content select=".cta-button"></ng-content>
      </div>
    </div>
</div>
