<header class="app-navigation border-bottom-light"> 
    <div>
        <div class="nav-menu nav-menu-dark" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <a
                class="primary-nav-anchor navigation-menu-item"
                matTooltip="Home"
                [routerLink]="['home']"
                [routerLinkActive]="['active-menu-item']"
                fxLayoutAlign="center"
            >
                Home
            </a>
            <a
                class="primary-nav-anchor navigation-menu-item"
                fxLayoutAlign="center"
                matTooltip=""
                [routerLink]="['home']"
            >
                About
            </a>
            <a
                class="primary-nav-anchor navigation-menu-item"
                fxLayoutAlign="center"
                matTooltip=""
                [routerLink]="['home']"
            >
                Calendar
            </a>
            <!-- <a
                class="primary-nav-anchor navigation-menu-item"
                fxLayoutAlign="center"
                matTooltip=""
                [routerLink]="['home']"
            >
                Explore
            </a> -->
            
        </div>
    </div>
</header>