<header class="app-navigation border-bottom-light"> 
    <div>
        <div class="nav-menu" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <a
                class="primary-nav-anchor navigation-menu-item"
                matTooltip="Home"
                [routerLink]="['home']"
                [routerLinkActive]="['active-menu-item']"
                fxLayoutAlign="center"
            >
                Home
            </a>
            <a
                class="primary-nav-anchor navigation-menu-item"
                fxLayoutAlign="center"
                matTooltip=""
                [routerLink]="['home']"
            >
                About Fit Days
            </a>
            <a
                class="primary-nav-anchor navigation-menu-item"
                fxLayoutAlign="center"
                matTooltip=""
                [routerLink]="['home']"
            >
                Calendar
            </a>
            <a
                class="primary-nav-anchor navigation-menu-item"
                fxLayoutAlign="center"
                matTooltip=""
                [routerLink]="['home']"
            >
                Calendar
            </a>
            <ng-container *ngIf="loggedIn; else loggedOut">
                <a
                    class="primary-nav-anchor navigation-menu-item"
                    fxLayoutAlign="center"
                    matTooltip=""
                    [routerLink]="['log-in', ]"
                >
                    Log Out
                </a>
            </ng-container>
            <ng-template #elseTemplate>
                <a
                    class="primary-nav-anchor navigation-menu-item"
                    fxLayoutAlign="center"
                    matTooltip=""
                    [routerLink]="['log-in']"
                >
                    Log In
                </a>
            </ng-template>
        </div>
    </div>
</header>