$theme-primary: #000000;
$theme-accent: #D52B1E;
$theme-info: #0088CE;
$theme-success: #00AC3E;
$theme-warning: #FFBC3D;
$theme-error: #ED7000;;

// Text
$theme-text-hint: #747676;
$theme-text-info: #0088CE;
$theme-text-inverted: #FFFFFF;
$theme-text-menu: #000000;
$theme-text-normal: #000000;
$theme-text-secondary: #333333;

// Icons
$theme-icon-light: #F6F6F6;
$theme-icon-normal: #747676;
$theme-main-icon: #000000;
$theme-main-icon-caption: #000000;
$theme-main-icon-border: #747676;
$theme-main-icon-background: #D8DADA;

// Hyperlinks
$theme-hyperlink: #D52B1E;
$theme-hyperlink-hover: #D52B1E;
$theme-hyperlink-inverted: #FFFFFF;
$theme-hyperlink-inactive: #FFBC3D;

// Buttons
$theme-button-background-primary: #000000;
$theme-button-background-secondary: #FFFFFF;
$theme-button-text-primary: #FFFFFF;
$theme-button-text-secondary: #000000;

// Navigation
$theme-nav-menu-accent: #D52B1E;
$theme-nav-menu-background: #44475a;
$theme-nav-menu-background-inverted: #FFFFFF;

// Page Content
$theme-page-content-background: #FFFFFF;
$theme-page-content-section-border: #D8DADA;

// Tabs
$theme-tab-hover-background: #D8DADA;

// Headers
$theme-app-header-background: #FFFFFF;
$theme-app-header-text: #000000;
$theme-dialog-header-background: #333333;
$theme-dialog-header-text: #FFFFFF;
$theme-page-header-background: #000000;
$theme-page-header-text: #FFFFFF;
$theme-panel-header-background: #F6F6F6;
$theme-table-header-background: #000000;
$theme-table-header-text: #FFFFFF;
$theme-tile-header-background: #FFFFFF;
$theme-tile-header-text: #000000;

// Footers
$theme-footer-background: #000000;
$theme-footer-text: #FFFFFF;
$theme-footer-border: #D8DADA;