// Font Family Name
$font-primary: 'Neue Haas Grotesk';

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-dark: 900;

// Font Sizes
$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;

// Font Sizes (for framework icsons)
$icon-small: 18px;
$icon-normal: 24px;
$icon-large: 36px;
$icon-xlarge: 46px;
$icon-jumbo: 125px;
