@import 'src/assets/styles/fonts.scss';
@import 'src/assets/styles/colors.scss';

.nav-menu {
    color: #000000;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    transition: all 0.5s ease-in-out;

    .primary-nav-anchor {
        color: #000000 !important;
        cursor: pointer;
    }

    .navigation-menu-item {
        text-decoration: none;
    }

    .primary-nav-anchor:not(.active-menu-item) {

        &:hover {
            color: $theme-primary;
            border-bottom: 2px solid $theme-nav-menu-accent;
        }
    }
}

.nav-menu-light {
    color: $theme-text-inverted;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    transition: all 0.5s ease-in-out;
    .primary-nav-anchor {
        color: $theme-text-inverted !important;
        cursor: pointer;
    }

    .navigation-menu-item {
        text-decoration: none;
    }
}